/* ------------------------------------------
FOOD ITEM
--------------------------------------------- */
#container {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



.food-card {
margin: 1em 0; }

.food-card {
margin: 1em 0; }
.food-card .food-1,
.food-card .food-2,
.food-card .food-3 {
background-size: 28em 15em;
background-position: center;
height: 14em;
transition: 0.2s; }
.food-card .food-2 {
background-image: url("../image/1.jpg"); }
.food-card .food-3 {
background-image: url("../image/2.jpg"); }
.food-card .food-1 {
background-image: url("../image/3.jpg"); }
.food-card .photo-active {
background-size: 30.8em 16.5em;
transition: 0.2s; }
.food-card .food-details {
margin-top: -5px;
background-color: #EFEFEF;
display: flex;
justify-content: space-between; }
.food-card .food-details h4,
.food-card .food-details p {
padding: 0.7em 1.25em; }
.food-card .food-details div {
display: flex; }
.food-card .food-details .more-details-button {
background-color: #535353;
padding: 0.75em 1.25em;
cursor: pointer;
width: 1em;
transition: 0.1s; }
.food-card .food-details .more-details-button img {
position: relative;
left: 0.1em; }
.food-card .food-details .more-details-button .rotate {
transition: 0.1s;
transform: rotate(90deg); }
.food-card .food-details {
display: none;
background-color: #535353;
color: #EFEFEF; }
.food-card .food-details .active {
background-color: #C3FF00;
color: #303030; }
.food-card .size-chart,
.food-card p {
padding: 1em 1.25em; }
.food-card .size-chart ul,
.food-card p ul {
list-style: none;
display: flex;
justify-content: space-around;
margin-top: 1em; }
.food-card .size-chart ul li,
.food-card p ul li {
padding: 0.5em;
background-color: #303030;
width: 100%;
text-align: center;
margin-right: 2px; }
.food-card .buy-now-button {
background-color: #303030;
text-align: center;
padding: 0.75em;
cursor: pointer; }

.shopping-cart {
background-color: #171717;
position: fixed;
bottom: 0;
z-index: 99;
width: 100%;
box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.5);
display: none;
height: 3.5em; }
.shopping-cart .container {
display: flex;
justify-content: space-between;
padding: 1em; }
.shopping-cart .container .cart {
display: flex; }
.shopping-cart .container .cart object {
margin-right: 0.75em; }


.box {
position: absolute;
width: 50%;
left: 150%;
top: 100px;
margin-left: -25%;
padding: 5px;
}
#box1 {
left: 50%;
}

.move {
position:fixed;
z-index:2;
top:50%;
margin-top:-20px;
text-align:center;
padding:20px;
background:#fff;
color: #000;
}
.left {
cursor:pointer;
left:0;
color: #000;
clear: both;
display: block;
text-align: center;

}
.right {
cursor:pointer;
right:0;
color: #000;
clear: both;
display: block;
text-align: center;

}
ul{
list-style: none;
}
li{
float: left;
color: #fff;

}
li span{
text-align: center;
}
.food-details h3{
    text-align: center;
}